@import url(style.css);



/* body for Homepage */
main{
    min-height: 100vh;
    width: 100%;
    background-color:  #E6D6B5;
    margin-top: 150px;
    position: relative;

}
h2{
    text-align: center;
    margin: 0 auto;
    text-shadow: 3px 2px 2px #000000;
    padding: 60px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.32), #a94900), url(images/lab-5.jpg);
    background-size: cover;
}
.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
}
.col{
    flex-basis: 40%;
}
.col h2{
    text-align: center;
    margin: 20px;
    color: #4B6B8B;
}
.col p{
    padding: 20px;
    font-weight: 600;
    max-width: 1000px;
    font-size: 18px;
}
.box{
    width: 220px;
    height: 260px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.774)), url(images/toa-heftiba-412579.jpg);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    transition: 0.5s;

}
.box h3{
    color: #008f7c;  
}
.box p{
    color: #e4e4e4;
}
.box1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.774)), url(images/toa-heftiba-412579.jpg);
}

.box2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.774)), url(images/roberto-nickson-396152.jpg);
}

.box3{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(7, 0, 0, 0.925)), url(images/museum-outside.jpg);
}
.box4{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.774)), url(images/ai-1.jpg);
}
.box:hover{
    transform: translateY(-10px);
}

/*Media queries*/
@media (max-width: 900px) {
    .col p{
        font-size: 16px;
        font-weight: 500;
    }
}
@media (max-width: 700px) {
    main{
        margin-top: 140px;
    }
}


@media (max-width: 600px) {
    .box{
        width: 90%;
        height: 150px;
    }
    .box h3{
        font-size: 20px;
    }
    .col h1{
        font-size: 30px;
        text-align: center;
    }
    h2{
        font-size: 24px;
    }
    
}


/* Flex-box Section */

.container{
    display: flex;
    column-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #633242;
    box-shadow: 2px 3px 10px #00000080;
    transition: 1s;
    text-decoration: none;

}
.container:hover{
    transform: scale(1.04);
}
.flex-1{
    flex: 2;
    height: 300px;
    width: 300px;
    background-color: #008f7c;
}
.flex-1 p{
    padding: 20px;
    color: #000000;
    font-weight: 600px;
    font-size: 18px;
}
.flex-2{
    flex: 1;
    height: 95%;
    width: 95%;
    background-color: #a87902;
}
.flex-2 img{
    height: 300px;
    width: 100%;
}


@media (max-width: 970px) {
    .container {
        flex-direction: column; 
        align-items: center; 
        margin-left: 15%; 
        margin-right: 15%; 

    }
    .flex-1,
    .flex-2 {
        width: 100%; 
    }

    .flex-1 p {
        padding: 10px;
        font-size: 16px; 
    }
}

@media (max-width: 600px) {
    h2{
        font-size: 28px;
    }
    .container {
        margin-left: 5%; 
        margin-right: 5%; 
    }
    .flex-1 h3{
        font-size: 22px;
    }
}